*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    // font-family: "Roboto", serif;
    // font-family: "Philosopher", serif;
    font-style: normal;
}


%menuStyle {
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: $text-primary-color;
    opacity: 60%;
}

%featurescardsStyle {
    max-width: 300px;
    min-height: 228px;
}

%textStyle {
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $text-primary-color;
}

%menucardStyle {
    max-width: 360px;
    min-height: 446px;
    border-radius: 75px 10px 10px 10px;
    border: 1px 0px 0px 0px;
}

%footerlistStyle {
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: rgba(255, 255, 255, 0.7);
}

$primary-color:#dc780b;
$text-primary-color:#150c01;




.container {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    width: 100%;
    padding-top: 20px;

    .nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 46px;

        &__part {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 45%;

            .nav__list {
                display: flex;
                width: 87%;
                align-items: center;
                justify-content: space-between;

                &-item a {
                    @extend %menuStyle;
                }

                &-item a:hover {
                    color: $primary-color;
                    transition: all 0.3s;
                    opacity: 1;
                }

            }
        }

        &__btn {
            background-color: $primary-color;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.75px;
            border: none;
            outline: none;
            width: 155px;
            height: 46px;
            border-radius: 5px;

            a {
                color: #fff;
            }
        }

        &__btn a:hover {
            color: $text-primary-color;
            opacity: 50%;
            transition: all 0.3s;
            cursor: pointer;
        }
    }
}

#intro{
    width: 100%;
    min-height: 750px;

    .intro-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}